# Copy this file to  ~/.sipclient/config.ini 

# this will be the default account used by xcapclient
[Account]
sip_address = alice@example.com
password = 123
xcap_root = https://xcap.example.com/xcap-root

# this will be used when -a bob command-line switch is provided
[Account_bob]
sip_address = bob@example.com
password = 123
xcap_root = https://xcap.example.com/xcap-root
