include LICENSE
include README
include TODO
include MANIFEST.in

include xcapclient.ini.sample
include bash_completion.d/xcapclient

include debian/changelog
include debian/compat
include debian/control
include debian/copyright
include debian/rules
include debian/source/format

graft examples
graft test
