Source: python3-xcaplib
Section: python
Priority: optional
Maintainer: Adrian Georgescu <ag@ag-projects.com>
Build-Depends: debhelper (>= 11), dh-python, python3
Standards-Version: 4.5.0
X-Python3-Version: >= 3.7

Package: python3-xcaplib
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-application, python3-lxml
Recommends: python3-eventlib
Description: Python library for managing XML documents on XCAP server
 XCAP protocol allows a client to read, write, and modify application
 configuration data stored in XML format on a server. XCAP maps XML document
 sub-trees and element attributes to HTTP URIs, so that these components can
 be directly accessed by HTTP.
 XCAPLib includes command-line XCAP client.
