Source: python-xcaplib
Section: python
Priority: optional
Maintainer: Dan Pascu <dan@ag-projects.com>
Build-Depends: debhelper (>= 11), dh-python, python (>= 2.7)
Standards-Version: 4.5.0

Package: python-xcaplib
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-application (>= 2.0.0), python-lxml
Recommends: python-eventlib
Description: Python library for managing XML documents on XCAP server
 XCAP protocol allows a client to read, write, and modify application
 configuration data stored in XML format on a server. XCAP maps XML document
 sub-trees and element attributes to HTTP URIs, so that these components can
 be directly accessed by HTTP.
 XCAPLib includes command-line XCAP client.
