#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_clean:
	dh_clean
	rm -rf build dist MANIFEST

override_dh_install:
	dh_install
	install -d debian/python3-xcaplib/usr/share/bash-completion/completions/
	install -m 0644 bash_completion.d/xcapclient3 debian/python3-xcaplib/usr/share/bash-completion/completions/xcapclient3

